main {
    background-color: rgb(225, 228, 156);
}
footer {
    background-color: rgb(225, 228, 156);
    height: 70px;
}
.foot {
    color: black;
    padding: 0px 114px 0px 114px;
    font-size: 30px;
    text-align: center;
    border: 15px solid black;
}
.foot:hover {
    opacity: 0.7;
}
